{% extends 'base.twig' %}

{% block content %}
<!---//End-banner---->
<div class="content">
    <div class="container">
        <div class="jumbotron" ><h1 class="text-center" >ERREUR 404</h1 >
            <h2 class="text-center" >Page introuvable</h2 ></div >
    </div>
</div>


{% endblock %}

