{% extends 'base.twig' %}

{% block menuPrincipal %}
    <li class="active"><a href="/" >Accueil</a ></li >
    <li ><a href="/a-propos" >À Propos</a ></li >
    <li ><a href="/terms" >Mentions</a ></li >
{% endblock %}

 {% block menuSecondaire %}
     <li ><a href="/" >Le livre</a ></li >
     <li class="active"><a href="/histoire" >L'histoire</a ></li >
 {% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="content-grids">
            <div class="content-main">
                <div class="content-grid">
                    <div class="content-grid-head">
                        <h3>L'histoire du Livre</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="content-grid-single">
                        <h3>Le chemin intérieur</h3>
                        <img class="single-pic" src="{{ link('front/images/chemin.jpg') }}" alt=""/>
                        <span>Into the Wild ou Vers l'inconnu au Québec1 (Into the Wild en version originale) est un film américain réalisé par Sean Penn, sorti en 2007. Il s'agit de l'adaptation cinématographique du récit Voyage au bout de la solitude (Into the Wild pour le titre original), écrit par Jon Krakauer en 1996, et relatant l'histoire réelle de Christopher McCandless.</span>

                        <h3>L'auteur : un aventurier</h3>
                        <img class="single-pic" src="{{ link('front/images/aventurier.png') }}" alt=""/>
                        <p>Christopher McCandless est un étudiant <strong >américain</strong > brillant qui vient d'obtenir son diplôme et qui est promis à un grand avenir. Rejetant les principes de la société moderne, après un dîner dans un luxueux restaurant avec ses parents, pour fêter son diplôme, il décide de partir sur les routes, sans prévenir sa famille. Il renonce ainsi au rêve américain pour une vie aventurière. Il brûle ses papiers et envoie toutes ses économies à Oxfam. Il part en voiture vers le sud des États-Unis. Il découvre l'Arizona, le Grand Canyon, la Californie et trouve divers petits boulots à travers le Dakota ou encore le Colorado afin de financer le reste de son voyage. Il arrive au Mexique, lorsque lui vient l'idée d'aller en Alaska. Il met tout en œuvre pour y arriver et parvient finalement à Fairbanks en auto-stop. Il découvre les montagnes enneigées et se réfugie dans un bus abandonné. Il y restera une centaine de jours. Plus de trois mois de solitude, de compréhension de la nature et de l'être humain. Il découvre en Alaska le bonheur toujours recherché, une paix spirituelle et une sorte de paradis pur et sain. Au bout de deux ans de voyage, il décide qu'il est temps de rentrer chez lui. Mais il est bloqué par la rivière et se voit contraint de rester dans le bus, en attendant que l'eau du fleuve descende.</p>


                            <p>Il y a peu de différences entre deux plantes boréales de la famille des Fabaceae : Hedysarum mackenzei, qui est toxique, et H. alpinum, dont la racine renflée est comestible.</p>

                        <h3>L'aventure d'une vie</h3>
                        <img class="single-pic" src="{{ link('front/images/livre-papillon.jpg') }}" alt=""/>
                        <p >Affamé, il se base sur son guide botanique Dena'ina Plantflore qu'il interprète mal et s'empoisonne accidentellement en mangeant des graines de Hedysarum mackenzii2, toxique et différente de Hedysarum alpinum (une légumineuse ressemblant à la gesse tubéreuse) dont la racine renflée est consommée dans certaines conditions par les populations autochtones. Entre-temps, il comprend que la solitude n'est pas l'idéal de l'homme. Chris est un jeune homme aimé de tous, en effet, toutes les personnes rencontrées au fil du voyage se prendront d'amour ou d'amitié pour lui. Mais, aveuglé par son rêve obstiné de l'Alaska, Christopher ne perçoit pas le bonheur que peut procurer l'amour de l'autre. Il en prend conscience en lisant les lignes d'un ouvrage de Tolstoï qui décrit le bonheur parfait dans une microsociété rurale. Peu de temps avant de mourir, Christopher McCandless écrit au stylo sur une page d'un livre « Happiness only real when shared » (« Le bonheur n'est réel que lorsqu'il est partagé »).</p >

                            <p>Le film se termine sur un autoportrait de Christopher McCandless pris peu de temps avant sa mort. Un texte explicatif mentionne que des chasseurs l'ont trouvé deux semaines après sa mort.</p>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
