<form method="post">
    <input type="hidden" id="response-to" name="responseTo" mapping="responseTo"  />
    <input type="text" name="auteur" mapping="auteur" placeholder="Nom" minlength="3" maxlength="80" required="required"  />
    <textarea name="contenu" mapping="contenu" placeholder="Message" minlength="3" maxlength="800" required="required"></textarea>
    <input type="submit" value="Valider"/>
</form>
