{% extends '@admin/layout.twig' %}

{% block contenu %}
<!-- page content -->
<div class="right_col" role="main" >
        <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="x_panel" >
                    <div class="x_title" >
                        <h2 >Modifier l'article : {{ article.titre }}</h2 >
                        <ul class="nav navbar-right panel_toolbox" >
                            <li ><a class="collapse-link" ><i class="fa fa-chevron-up" ></i ></a >
                            </li >
                        </ul >
                        <div class="clearfix" ></div >
                    </div >
                    <div class="x_content" >
                        <br />
                        {{ form|raw }}
                        {% if errors is defined and errors is not empty %}
                            <div class="alert alert-danger" >
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div >
                        {% endif %}
                    </div >
                </div >
        </div >
    </div >
</div >
{% endblock contenu %}
